@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body{
background-color: #7D8CA9;
font-family: "Lato";
font-weight: 300;
color: #555;
font-size: 16px;
-webkit-font-smoothing: antialiased;
-webkit-owerlow-scrolling: touch;

margin-top: 70px;

}

h1,h2,h3,h4,h5,h6{
  font-family: "raleway";
  font-weight: 300;
  color: #333;

}
p{
  line-height: 28px;
  margin-bottom: 25px;
  color: #E1CEC0;

}
.centered{
  text-align: center;
}
a{
  color:#5D778E;
  text-decoration: none;

}
a:hover, a:focus{
  color: #A6DCF4;
  text-decoration: none;
  outline: 0;

}

hr{
  display: block;
  height: 1px;
  border:0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;

}
.navbar{
  font-weight: 800;
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 16px;


}
.navbar-inverse{
  background: #F3F3F3;
  border-color: #F3F3F3;
}
#req ul>li>a{
  color:#5D778E;
  font-size: 18px;
  font-weight:300;
  border-radius: 60px;

}


#req ul>li>a:hover{
  color:#F3F3F3;
  background-color:#83988F;
  transition: 0.3s ease;
  transform: scale(1.3);
  display: inline-block;
  border-radius: 70px;
  opacity:0.7;

}
.navbar-inverse .navbar-brand{
  color:#83988F;
  font-weight: bolder;
  font-size: 27px;
  letter-spacing: 2px;
  transition:all 0.5s ease;

}
.navbar-inverse .navbar-brand:hover{
  color:#0092CC;
  transform: scale(1.5);

}

#headerwrap{
background: url(https://cdn.pixabay.com/photo/2016/08/21/23/29/lake-1611044_960_720.jpg) no-repeat center top;
margin-top: -10px;
padding-top: 20px;
text-align: center;
background-attachment: relative;
background-position: center center;
min-height: 500px;
width: 100%;
background-size: 100%;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
#headerwrap h1{
  margin-top: 140px;
  color: white;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 3px;
}
#headerwrap h2{
  color:white;
  font-size: 35px;


}
.w{
  padding-top: 35px;

}
.w h4{
  font-size: 25px;
}
#dg{
  background: #e0e0e0;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}
#dg h4{
  font-size: 50px;
  letter-spacing: 1px;

}
.tilt:hover{

  transform:rotate(-10deg);


}
.tilt{
  transition:all 0.5s ease;
}
.wb{
  padding-top: 35px;
  margin-bottom: 0;

}
.wb h4{
  font-size: 35px;
}
#lg img:hover{
  transition:all 1.1s ease;
  transform:scale(1.3);
  opacity: 0.5;
}
#lg{
  padding-top: 50px;
  padding-bottom: 70px;
  background: #5D778E;
}
#lg h4{
  font-size: 28px;
  color:#DADAD8;
font-weight: 100;

letter-spacing: 0.7px;
}
#r{
  background: #B3B3B1;
  padding-top: 70px;
  padding-bottom: 70px;
}
#r h4{
  color: white;
  font-size: 45px;
}
#r p{
  color:white;
  font-size: 18px;
}
#f{
  background: #F3F3F3;
  padding-top: 30px;
  padding-bottom: 20px;

}
#f i{
  color:#002A40;
  font-size: 30px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
#f i:hover{
  color: #B3B3B1;
  transform: scale(1.3);
  transition:all 0.5s ease;
}
